<div>
  <h1 class="text-center p-3">Family Addresses</h1>
  <div data-controller="map"
    data-map-viewtype-value="only-address"
    data-map-latitude-value="<%= current_user.contact.latitude %>"
    data-map-longitude-value="<%= current_user.contact.longitude %>"
    data-map-contacts-value='<%= (current_user.contacts.map { |c| { id: "contact_#{c.id}", latitude: c.latitude, longitude: c.longitude, avatar_url: asset_path("icons/avatars/#{c.avatar}"), name: c.name } }).to_json %>'
    data-map-addresses-value='<%= (current_user.addresses.distinct.map { |a| { id: "address_#{a.id}", latitude: a.latitude, longitude: a.longitude, avatar_url: asset_path("icons/places/#{a.type_place.avatar}"), name: a.description } }).to_json %>'
    data-map-userid-value='<%= current_user.contact.id %>'>
    <div id="map" class="map-responsive" style="width: 100%;" data-map-target="map"
    data-action="location:changed->map#updateLocation"
      >
    </div>
    <div class="overflow-auto" style="max-height:420px;">
      <div data-map-target="createaddress" class="d-none p-3">
        <%= simple_form_for @address do |f| %>
          <%= f.input :description, class: "form-control" %>
          <%= f.input :building_name, class: "form-control" %>
          <%= f.input :type_place_id,
          collection: TypePlace.all.collect { |tp| [tp.description, tp.id] },
          prompt: "Select a type",
          label: "Place type",
          input_html: { class: "form-select" } %>
          <%= f.input :postal_code, as: :hidden %>
          <%= f.input :prefecture, as: :hidden %>
          <%= f.input :city, as: :hidden %>
          <%= f.input :block, as: :hidden %>
          <%= f.input :latitude, as: :hidden %>
          <%= f.input :longitude, as: :hidden %>
          <%= f.submit class: "btn btn-primary w-100 text-white" %>
        <% end %>
      </div>
      <div class="p-3">
        <% @addresses.each do |address|  %>
          <%= render "shared/addressCard", address: address %>
        <% end %>
      </div>
    </div>
  </div>
